<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save done</title>
</head>
<body>
    <h2 style="color:blueviolet">Ban da luu san pham mang ma so {{id}} co ten la {{name}} voi gia {{price}} thanh cong</h2>
</body>
</html>